

Body {

    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: black;
    width: 30%;
    margin: auto;


}
button {
    background-color: saddlebrown;
    width: 40%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;

}
h1 {
    margin-top: 20%;
    color: #f1f1f1;
    width: 50%;
    margin-bottom: 10%;
}
label{
    color: white;
}
form {
    border: 1px solid #f1f1f1;

}
input[type=text], input[type=password] {
    width: 80%;
    margin-top: 10%;
    padding: 12px 20px;
    display: block;
    border: 2px white;
    box-sizing: border-box;
    margin-bottom: 10%;


}
button:hover {
    opacity: 0.7;
}


.container {
    padding: 20px;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    button {
        background-color: saddlebrown;
        width: 90%;
        color: white;
        padding: 10px;
        margin: 10px 5px;
        border: none;
        cursor: pointer;

    }
    Body {

        font-family: 'Inter', sans-serif;
        height: 300vh;
        background-color: black;
        width: 80%;
        margin: auto;


    }
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
        background-color: black;
    }
}
@media only screen and (max-width: 768px) {

    input[type=text], input[type=password] {
        width: 80%;
        margin-top: 10%;
        padding: 10px 10px;
        display: block;
        box-sizing: border-box;
        margin-bottom: 10%;
    }
}
